h1 {
	color: red;
	
	padding: 20px; 
    margin-left: 10px; 
    text-align: center;	
}  
 
p {
	 font-family: 'Edu SA Beginner', cursive;
	 font-weight: 900;
	 font-size: 50px
}


span{
	border: solid black 2px;
    text-align: center;
    padding: 10px

}

.slastenDiv {
	color: green;
}

#tezekDiv {
	font-weight: 900;
}


