ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-left: 30%;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: black;
	font-weight: 700;
	font-family: cursive;
}

li {
	color: white;
	display: inline;
	padding: 20px 20px 20px 20px;
}

li:hover {
	background-color: #333333;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	float:left;
	padding: 0;
	margin: 0;
	margin-left: 100px;
	margin-top: 15px;
}
